<div class="container">
 <form method="post" action ="/submit">
  <input type="text" placeholder="title" name="title">
  <input type="text" placeholder="url" name="url">
  <input type="textarea" placeholder="text" name="text">
  <input type="submit" name="submit">
 </form>
</div>
