<div class="container">
 <form method="post" action ="/submit">
  <input type="text" placeholder="title" name="post[title]">
  <input type="text" placeholder="url" name="post[url]">
  <input type="textarea" placeholder="text" name="post[body]">
  <input type="submit" name="submit">
 </form>
</div>
