<div class="container">
  <a href="/login">LOGIN</a>
  <p>Hacker News</p>

  <ul>
    <% @posts = Post.all %>
    <% @posts.each do |post| %>
      <a href="/posts/<%= post.id %>"><li><%= post.title %></li></a><br>
    <% end %>
  </ul>
</div>
